*{
    font-family: 'Fira Code', monospace;    
}

body {
    background-color: rebeccapurple;
}

h1{
    color: white;
    text-align: center;
}

.cardCoders{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    color: rebeccapurple;
}

.avatarCoder{
    display: flex;
    justify-content: center;
}
