

hr{
    color: white;
}

.footer{
    color: white;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1.5vw;
       
}

.footer a:active{
    color: white;    
}

.footer a:hover{
    color: white;
}

.footer a:visited{
    color: white;
}