*{
    font-family: 'Fira Code', monospace;
    background-color: rebeccapurple;   
}

hr{
    color: white;
}

.footer{
    color: white;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: space-around;
       
}

.footer a:hover{
    color: white;    
}

.footer a:visited{
    color: white;
}