*{
    font-family: 'Fira Code', monospace;
}

hr{
    color: white;
}

.menu{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.menu a:link{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.menu a:hover{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}


.menu a:visited{
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}