*{
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

.logo{
    background-color: blueviolet;
    width: 150px;
    height: 10px;
}

body{
    background:linear-gradient(top,rebeccapurple,mediumpurple);
}

.menu{
    background-color: rebeccapurple;
    display: flex;
    display:inline-block;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.menuList{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
